:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "tailwindcss";
.marquee-content {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-300%);
  }
}